/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    display: block;
    font-family: "Helvetica", sans-serif;
    
  }

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
  ::selection {
    color: white; /* Text color for selection */
    background: black; /* Background color for selection */
  }
 
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* this is the old stuff which i copied over */

  ::selection {
    color: white; /* Text color for selection */
    background: black; /* Background color for selection */
  }
  
  .heading{
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 40px;
    width: 30%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: left; /* Keeps the text left-aligned */
    font-family: "Helvetica", sans-serif;
    
  }
  
  
  .subheading{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    width: 30%; /* Adjust the width as needed */
    text-align: left; /* Keeps the text left-aligned */
    line-height: 1.6;
    padding-top: 10px;
    max-width: 450px;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
  }
  
  .body {
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
    margin-left: 20px; /* Adjust the left margin as needed */
    margin-right: 20px; /* Adjust the right margin as needed */
    font-size: 15px;
    width: 30%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    text-align: left; /* Keeps the text left-aligned */
    font-family: "Helvetica", sans-serif;
    line-height: 30px;
  }

  .body2{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: left; 
    font-family: "Helvetica", sans-serif;
    line-height: 1.6;
    padding-top: 10px;
    max-width: 450px;
    text-align: left;
  }



  .indent {
  margin-left: 10px; /* Adjust the indentation as needed */
  
  
  }
  
  @media only screen and (max-width: 600px) {
  .heading {
    font-size: 6vw; /* Increase the font size on smaller screens */
    width: auto; /* Take up the available space */
    margin-left: 5%; /* Adjust side margins to not touch the edge of the screen */
    margin-right: 5%;
  }
     .subheading, .body {
      width: auto; /* Take up the available space */
      margin-left: 5%; /* Adjust side margins to not touch the edge of the screen */
      margin-right: 5%;
      font-size: 3.5vw; /* Use viewport width units for font size */
    }
  }
  ::selection {
    color: white; /* Text color for selection */
    background: black; /* Background color for selection */
}

  .heading{
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 40px;
    width: 30%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: left; /* Keeps the text left-aligned */
    font-family: "Helvetica", sans-serif;

  }


  .subheading{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    width: 30%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    text-align: left; /* Keeps the text left-aligned */
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
  }

  .body{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 30%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    text-align: left; /* Keeps the text left-aligned */
    font-family: "Helvetica", sans-serif;
    line-height: 30px;
  }

  .indent {
  margin-left: 10px; /* Adjust the indentation as needed */
  }

  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    display: block;
    font-family: "Helvetica", sans-serif;
  }

   /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .cropped-image {
    padding-top: 0px;
    width: 130px; /* Set the width to the desired value */
    height: 130px; /* Set the height to the desired value */
    object-fit: cover; /* This will crop the image to fit the container */
  }
  
  /* the styling rules for essay.html go here */
  .essay-content h1 {
    font-family: "Helvetica", sans-serif;
    max-width: 450px;
    font-size: 40;
  }
  .essay-content .date {
    font-family: "Helvetica", sans-serif;
  }

  .essay-content > div:last-child {
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    max-width: 450px;
    margin-left: 0;
    text-align: left;

  }

  /* Style for essay titles on essays.html */
.essays h2 {
  font-family: "Helvetica", sans-serif;
  color: black !important;
  font-size: 40;
  max-width: 450px;
}
a {
  color: black;
}


/* Style for essay dates on essays.html */
.essays .date {
  font-family: "Helvetica", sans-serif;
  color: black;
}
